<h3>Тип Окна </h3>
<div class="menu-items">
{{#each item}}
  <div class="menu-item js-menu-item" data-id="{{this.id}}">
    <div class="image">
      <img src="{{this.img}}" />
    </div>
    <div class="title">
      <span>{{this.name}}</span>
    </div>
  </div>
{{/each}}
</div>
<h3>Режим Открывания </h3>
{{#each item}}
<div class="menu-subitems js-menu-subitems" data-id="{{this.id}}">
  {{#each this.serializedItems}}
    <div class="menu-subitem js-menu-subitem" data-id="{{this.id}}">
    <div class="image">
      <img src="{{this.img.small}}" />
    </div>
    </div>
  {{/each}}
  </div>
{{/each}}
